{% extends 'booking/base.html' %}


{% block content %}




    <div class="container">
        <div class="row">
            <div class="col-3">
                <!-- Post title goes in these h1 tags -->
                <h1 class="Booking Name">{{ booking.First_Name }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ booking.Last_Name }} | {{ booking.Date}}</p>
            </div>
            
        </div>
    </div>



{% endblock content %}