{% extends 'booking/base.html' %} {% block content %}
{% load crispy_forms_tags %}

<!-- A crspy form to enter your booking details to book a table-->
<div class="container">
  <div class="row">
    <div class="col card mb-4 left top">
      <form method="POST" style="margin-top: 1.3em">
        {{booking_form|crispy}} {%csrf_token%}
            <br />
            <button type="submit" class="btn btn-info btn-lg">submit</button>
            
            <!-- A message to confirm the submition of the booking -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
      </form>

    </div>
  </div>
</div>

{% endblock content %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
      var timeField = document.getElementById('id_time_field');
      var now = new Date();
      var currentHour = now.getHours();
      var currentMinute = now.getMinutes();
      
      // Set the minimum time as the current time
      timeField.min = currentHour.toString().padStart(2, '0') + ':' + currentMinute.toString().padStart(2, '0');
      
      // Disable previous times in the time field
      timeField.addEventListener('input', function () {
          var selectedHour = parseInt(timeField.value.split(':')[0]);
          var selectedMinute = parseInt(timeField.value.split(':')[1]);
          if (selectedHour < currentHour || (selectedHour === currentHour && selectedMinute < currentMinute)) {
              timeField.value = timeField.min;
          }
      });
  });
</script>