{% extends 'booking/base.html' %} {% block content %}



<div class="masthead">
    <div class="container">
        <div class="row">
            {% for photo in menu_list%}
            
                    <div class=" col-md-2 ">
                        <!-- The featured image URL goes in the src attribute -->
                        {% if "placeholder" in photo.Featured_image.url %}
                        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                        {% else %}
                        <img src=" {{ photo.Featured_image.url }}" width="100%">
                        {% endif %}
                
                    </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
