{% extends 'booking/base.html' %} {% block content %}



<!-- Cards to show the image of the sandwitch in the Menu and describe each sandwitch -->
    <div class="container">
             <div class="row">
            {% for photo in menu_list%}
                    <div class="card " style="width: 32rem;">
                        <img src="{{ photo.Featured_image.url }}" class="card-img-top" alt="...">
                        <div class="card">
                            <h2 class=" booking">{{ photo.Meal_Name}}</h2>
                            <p class="masthead-text">{{photo.Meal_des}}</p>
                        </div>
                    </div>
            {% endfor %}
            </div>
       
    </div>


{% endblock content %}
